[submodule "ansible-collection-gitcontrol"]
	path = ansible-collection-gitcontrol
	# Use this until https://github.com/opentelekomcloud/ansible-collection-gitcontrol/pull/43 is merged
	url = git@github.com:SovereignCloudStack/ansible-collection-gitcontrol.git
   #url = git@github.com:opentelekomcloud/ansible-collection-gitcontrol.git
